.index_bar_container {
  border-bottom: 1px solid $border-alt;
  white-space: nowrap;
  overflow: hidden;
  background: #fff;

  @include rem(padding-top, 16px);
  @include rem(height, 57px);

  .container {
    overflow: hidden;
    overflow-x: auto;
  }
}

.section--index {
  @include rem(margin-top, -40px);
  @include rem(margin-bottom, 30px);
  @include rem(height, 57px);
}

.index_bar {
  &__inner {
    font-size: 0;
  }

  &__list {
    display: inline-block;
    vertical-align: top;
    cursor: default;
    position: relative;

    .list__item {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      overflow: hidden;
      border-bottom: 2px solid transparent;
      font-weight: normal;
      letter-spacing: 0;
      color: rgba($secondary, .6);

      &:after {
        width: 0;
      }

      @include rem(margin-left, 10px);
      @include rem(padding-bottom, 16px);
      @include rem(font-size, 18px);
      @include rem(line-height, 22px);

      &:first-child {
        margin-left: 0;
        padding-left: 0;
      }

      a {
        cursor: pointer;
        color: inherit;
        position: relative;

        @include rem(padding, 5px);

        &:hover {
          color: $text;
        }
      }

      &.active {
        font-weight: $fw-semi !important;
        color: $text !important;
        border-bottom-color: $primary !important;

        a {
          top: 0 !important;
        }
      }
    }
  }

  &__button {
    display: inline-block;
    vertical-align: top;

    @include rem(margin-right, 7px);

    .btn--icon {
      position: relative;
      top: -3px;

      .icon {
        @include rem(font-size, 17px);
      }
    }
  }

  &--disabled {
    .index_bar__list {
      pointer-events: none;

      .list__item {
        color: rgba($secondary, .6) !important;
        font-weight: normal !important;
        top: 0 !important;

        &:after {
         display: none;
        }

        a {
          top: -1px !important;
          color: rgba($secondary, .6) !important;
        }
      }
    }

    .index_bar__button .btn {
      color: $secondary;

      .icon {
        color: $secondary;
      }
    }
  }

  @media all and (min-width: $screen-mobile-old) {
    &__list .list__item a {
      @include rem(top, -1px);
    }
  }
}