.popover {
  white-space: normal;
  text-align: left;
  max-width: none;

  @include rem(width, 520px);
}

.popover-content {
  @include rem(padding, 20px);
}

.popover-content {
  display: none;

  .popover & {
    display: block;
  }
}


.multisig_popover {
  .popover {
    max-width: 100%;
  }

  h4, h3 {
    @include rem(margin-bottom, 18px);
  }

  .issuer {
    @include rem(margin-bottom, 20px);

    &:last-child {
      margin-bottom: 0;

      .issuer__content {
        border-bottom: 0;
      }
    }

    &__content {
      @include rem(padding-bottom, 20px);

      &.text-right {
        padding-right: 0;
      }
    }

    &__name {
      ._change {
        font-weight: normal;

        @include rem(margin-left, 8px);
      }
    }
  }

  @media all and (max-width: $screen-mobile-tiny) {
    .issuer__content.text-right {
      display: none;
    }
  }
}