.input-search {
  width: 100%;
  margin: 0 auto;
  max-width: 370px;

  .form-control {
    border: 1px solid $gray-25;
    border-radius: $border-radius;
    color: rgba($secondary, .6);
    width: 100%;
    background: #fff;

    @include rem(font-size, 16px);
    @include rem(line-height, 20px);
    @include rem(padding-left, 45px);
    @include rem(padding-right, 45px);
    @include rem(height, 50px);

    + .btn {
      left: auto;

      @include rem(right, 14px);
    }
  }

  .btn {
    line-height: normal;
    position: absolute;
    color: rgba($secondary, .35);
    top: 50%;

    @include rem(left, 14px);
    @include rem(margin-top, -13px);

    &:hover {
      color: rgba($secondary, .5);
    }

    .icon {
      color: inherit;

      @include rem(font-size, 20px);
    }
  }

  .fixed & {
    .form-control {
      border-color: #fff;

      @include rem(height, 35px);
    }
  }

  &--index {
    width: 100%;
    margin: 0;
    max-width: none;
  }
}

.section--search {
  text-align: center;

  h2 {
    color: $secondary;

    @include rem(margin-bottom, 30px);
  }

  a:not(.btn) {
    color: $blue;

    &:hover {
      color: $secondary;
    }
  }
}

.form--search_blockchain {
  @include rem(padding, 30px 0);

  .btn {
    vertical-align: middle;

    @include rem(margin-bottom, 20px);
  }

  .form-control {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;

    @include rem(width, 520px);
    @include rem(margin-right, 10px);
    @include rem(margin-bottom, 20px);
  }

  @media all and (max-width: 767px) {
    padding: 0;

    .form-control {
      width: 100%;
    }
  }
}

.search_block {
  display: none;

  @include rem(margin-bottom, 30px);

  .btn--link {
    @include rem(margin-top, 14px);
  }

  &--show {
    display: block;
  }
}

.btn--link {
  background: transparent !important;
  padding: 0;
  font-weight: normal;
  color: rgba($secondary, .6);

  @include rem(font-size, 16px);

  &:hover, &:active, &:focus {
    color: $secondary !important;
  }
}

.header_search {
  @media all and (max-width: $screen-tablet) {
    position: fixed;

    @include rem(height, 90px);
  }

  @media all and (max-width: $screen-landscape) {
    height: 80px;

    @include rem(padding, 30px 0);
  }

  @media all and (max-width: $screen-mobile) {
    top: 56px;
    height: 60px;

    @include rem(padding, 20px 0);
  }

  @media all and (min-width: $screen-landscape + 1) {
    display: block;
    float: right;
    width: auto;
    position: relative;
    padding: 0;
    height: auto;
    max-width: 100%;
    margin-top: 1px;

    .container {
      padding: 0;
    }

    &__btn {
      left: 5px;
    }

    .form-control {
      width: 302px;
      border-radius: $border-radius;
      border: 1px solid $border;
    }
  }
}

@media (max-width: $screen-tablet) {
  .header_user__img {
    margin-right: 0;

    + .header_login__title {
      display: none;
    }
  }
}