a {
  color: inherit;
}

.header {
  .btn-link {
    margin-top: 2px;
  }

  .header__logo {
    line-height: 45px;
  }

  @media (max-width: $screen-landscape) {
    .btn-link {
      margin-top: 0;
    }

    .header__logo {
      line-height: 40px;
    }
  }

  @media (max-width: $screen-mobile-old) {
    .btn-link {
      margin-top: 11px;
      padding: 0;
    }

    &__logo {
      top: 5px !important;
    }

    &.fixed {
      .btn-link {
        margin-top: 1px;
      }
    }
  }

  @media (max-width: $screen-mobile) {
    &__logo {
      top: 2px !important;
    }

    .input-search .form-control {
      padding-left: 35px;
    }

    &.fixed {
      .header__logo {
        top: -2px !important;
      }
    }
  }
}

.page {
  .page__header {
    border-bottom: 1px solid $border-alt;

    @include rem(padding-bottom, 10px);
    @include rem(margin-bottom, 18px);

    p {
      @include rem(font-size, 16px)
    }
  }

  .page__title {
    @include rem(margin-bottom, 11px !important);
  }

  &--address {
    .section--padding {
      padding-bottom: 0 !important;
    }

    .page__header {
      margin-bottom: 0;
      border-bottom: 0;

      @include rem(padding-bottom, 25px);
    }
  }

  .container {
    width: 1170px + 30px;
  }

  @media all and (min-width: $screen-landscape + 1) {
    .page__subtitle {
      @include rem(font-size, 22px);
    }
  }

  @media all and (max-width: $screen-landscape) {
    .section--padding {
      padding: 40px 0;
    }
  }

  @media all and (max-width: $screen-mobile) {
    .section--padding {
      padding: 28px 0;
    }
  }
}

@media (min-width: 768px) {
  .page .section--padding {
    @include rem(padding, 45px 0)
  }

  .header--new .header__logo img {
    @include rem(margin, 0 16px 0 5px)
  }
}

.issuer_list {
  overflow: hidden;

  &__item {
    margin-bottom: -1px;
  }
}


.table {
  tr {
    td {
      white-space: normal;
    }

    th {
      text-transform: none;
    }
  }

  a {
    color: inherit;

    &:hover {
      color: $blue;
    }
  }

  &__header {
    &--main {
      th {
        padding-bottom: 0 !important;
      }
    }
  }

  &.table--simple {
    @include rem(margin-bottom, 40px);

    tr {
      td, th {
        white-space: nowrap;
        border-bottom-color: #EBEDEF;

        @include rem(font-size, 18px);
        @include rem(padding, 16px 20px 16px 0)
      }
    }
  }

  &.table--be_info {
    @include rem(font-size, 18px);

    tr {
      th {
        text-transform: uppercase;
        color: $secondary;
        font-weight: $fw-semi;
        letter-spacing: .1em;

        @include rem(font-size, 14px);
      }

      b {
        color: $text;
      }

      p {
        @include rem(font-size, 18px);
        @include rem(line-height, 30px);
        @include rem(margin, 4px 0);
      }

      td, th {
        padding-left: 0;
        cursor: auto;
        border-bottom: 0;

        &:first-child {
          @include rem(width, 170px);
        }
      }
      td {
        @include rem(padding-top, 9px);
        @include rem(padding-bottom, 9px);
      }

      &:hover {
        background: transparent;

        td, th {
          background: transparent;
        }
      }
    }
  }

  &.table--text_big {
    @include rem(font-size, 24px);
  }

  @media all and (max-width: $screen-mobile) {
    &.table--be_info {
      display: block;

      tr, td, th, thead, tbody {
        display: block;
        width: 100% !important;
        padding: 0 !important;
      }

      tr {
        padding-bottom: 15px !important;
      }
    }
  }
}

.text-small {
  @include rem(font-size, 16px !important);
}

.text-muted {
  color: rgba($secondary, 0.6) !important;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.transaction_view {
  background: #fff;
  border-radius: 4px;
  position: relative;

  @include rem(margin-bottom, 30px);
  @include rem(padding-left, 5px);


  @media all and (max-width: 991px) {
    margin-right: -15px;
    padding-right: 20px;
  }

  .table-responsive {
    margin-bottom: 0;

    @include rem(padding-left, 25px);
    @include rem(padding-right, 30px);
    @include rem(padding-bottom, 25px);
  }

  &:before {
    width: 2px;
    height: auto;
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 2px;
    background: rgba($secondary, .35);
  }

  &--colored {
    &:before {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9100+0,ff0029+50,ab00ff+100 */
      background: $primary !important; /* Old browsers */
      background: -moz-linear-gradient(top,  #ff9100 0%, #ff0029 50%, #ab00ff 100%)!important; /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #ff9100 0%,#ff0029 50%,#ab00ff 100%)!important; /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #ff9100 0%,#ff0029 50%,#ab00ff 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9100', endColorstr='#ab00ff',GradientType=1 )!important; /* IE6-9 */
    }
  }

  &__title {
    font-weight: $fw-semi !important;
    text-transform: uppercase !important;
    letter-spacing: .1em !important;

    @include rem(font-size, 14px !important);

    a {
      color: inherit;
    }

    span {
      color: rgba($secondary, .6);
      text-transform: none;
      letter-spacing: normal;
      font-weight: normal;

      @include rem(margin-left, 15px);
    }
  }

  &__row {
    @include clearfix;

    .transaction_view__line + .transaction_view__line {
      @include rem(margin-top, 5px);
    }

    ~ .transaction_view__row {
      @include rem(margin-top, 10px);
    }

    @media all and (min-width: 768px) {
      .transaction_view__line + .transaction_view__line {
        margin-top: 0;

        @include rem(padding-left, 38px);
      }
    }
  }

  &__logo {
    vertical-align: top !important;
    border-right: 1px solid #DFE1E5 !important;

    @include rem(width, 60px !important);

    + td {
      @include rem(padding-left, 15px !important);
    }

    img {
      @include rem(width, 48px);
    }
  }

  &__line {
    overflow: hidden;
    text-overflow: ellipsis;

    .icon {
      opacity: .35;

      @include rem(font-size, 16px);
    }

    + .transaction_view__line {
      @include rem(margin-top, 10px);
    }
  }

  &__arrow {
    vertical-align: middle !important;

    @include rem(padding-right, 40px !important);
  }
}

.open_hidden_content {
  .icon {
    position: relative;
    top: -1px;

    @include transition(transform $transition-default);
  }

  &.active {
    .icon {
      @include rotate(180deg);
    }
  }
}

.text-right {
  text-align: right !important;
}

.colored_arrow {
  background: url(../img/be/colored-arrow.png) no-repeat center;
  display: inline-block;

  @include rem(margin, 0 10px);
  @include rem(width, 20px);
  @include rem(height, 35px);
  @include background-size(cover);
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 6px;
  vertical-align: middle;
  border-top: 5px dashed;
  border-top: 5px solid\9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.img-thumbnail {
  @include rem(margin-bottom, 0 30px);
}

.hide-header .table__header--main{
  display:none;
}

.address_code {
  position: relative;
  word-break: break-all;

  .btn {
    position: relative;
    padding: 0;
    top: -1px;

    @include rem(margin-left, 4px);

    .icon {
      @include rem(font-size, 19px);
    }
  }

  &--lead {
    font-weight: $fw-light;
    color: $secondary;
    margin-bottom: 0;

    @include rem(font-size, 28px);
    @include rem(line-height, 35px);
    @include rem(margin-bottom, 15px);
  }

  @media all and (max-width: $screen-mobile) {
    padding-right: 30px;

    &--lead {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.truncate {
  position: relative;

  &::before, &::after {
    display: inline-block;
    vertical-align: top;
    max-width: 50%;
    overflow: hidden;
    white-space: pre;
    pointer-events: all;
  }

  &::before {
    content: attr(data-content-start);
    text-overflow: ellipsis;
  }

  &::after {
    content: attr(data-content-end);
    text-overflow: ellipsis;
    direction: rtl;
  }
}

.separator {
  border: 0;
  border-bottom: 1px solid $gray-5;
  margin: 0;
  max-width: 100%;
  width: 100%;

  &--bold {
    border-bottom-width: 10px;
  }
}

.panel {
  &__header {
    @include rem(padding, 28px 0);

    .address_code {
      @include rem(font-size, 19px);
      @include rem(line-height, 30px);
      @include rem(margin-bottom, 5px);

      a:not(.btn) {
        color: $blue;

        &:hover {
          color: $secondary;
        }
      }
    }

    .middot {
      @include rem(margin, 0 4px);
    }

    .action_text {
      @include rem(margin-bottom, 5px);
    }
  }

  &__body {
    @include rem(padding-bottom, 25px)
  }

  .confirmation_label {
    margin-top: 2px;
  }

  @media all and (max-width: $screen-landscape) {
    .confirmation_label {
      margin-top: 0;
      text-align: left;

      @include rem(margin-bottom, 10px)
    }

    .address_code {
      @include rem(margin-bottom, 15px);
    }

    &__header {
      padding: 16px 0;
    }
  }

}

.transaction_panel {
  @include rem(border-top, 10px solid $gray-5);

  &__header {
    display: table;
    width: 100%;
  }
}

.transaction_details {
  + .transaction_details {
    @include rem(margin-top, 20px)
  }

  .wallet_value {
    font-weight: $fw-semi;
    color: $text;
    letter-spacing: 0.2px;
    text-align: right;

    @include rem(padding-top, 10px);
    @include rem(font-size, 18px);
    @include rem(line-height, 20px);
  }
}

.transaction_item {
  @include rem(padding, 15px 0);
  @include clearfix;

  &__center {
    text-align: center;
  }

  @media all and (max-width: $screen-landscape) {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;

    .transaction_arrow {
      @include rotate(90deg);
      @include rem(padding, 13px 5px 12px 10px);
    }
  }

  @media all and (min-width: $screen-landscape + 1) {
    &__left,
    &__center,
    &__right {
      float: left;
    }

    &__left {
      width: 47%;
    }

    &__center {
      width: 6%;
    }

    &__right {
      width: 47%;
    }
  }
}

.transaction_list {
  color: $secondary;

  &__advanced {
    display: none;
    overflow: hidden;
    color: rgba($secondary, .8);
  }

  &__item {
    white-space: nowrap;

    @include rem(line-height, 30px);

    a:not(.btn) {
      color: inherit;

      &:hover {
        color: $blue;
      }
    }

    .icon--chevron-thin-down {
      margin-right: 0;

      @include rem(margin-left, 2px);
      @include rem(font-size, 16px);
    }

    .links_group {
      position: relative;

      @include rem(padding-left, 40px);
    }

    .transaction_prev_link {
      position: absolute;
      left: 0;
      top: 50%;

      @include rem(margin-top, -16px);
    }

    .transaction_current_link {
    }

    &._bold {
      font-weight: $fw-semi;
    }
  }
}

.transaction_prev_link {
  color: $gray-light;

  .icon {
    margin-right: 0;

    @include rem(font-size, 26px);
  }
}

.transaction_arrow {
  display: inline-block;
  vertical-align: middle;

  @include rem(padding, 9px);

  .icon {
    @include rem(font-size, 24px)
  }
}

@media (max-width: 640px) {
  .menu-collapsed .header__logo {
    width: 32px;
  }
}

.address_qrcode {
  float: right;
  max-width: 100%;
  width: 140px;

  @include rem(margin-top, -15px);

  img {
    max-width: 100%;
  }

  @media all and (max-width: $screen-landscape) {
    text-align: center;
    float: none;
    margin: 0 auto 20px;
  }
}

.issuer {
  width: 100%;

  &__img,
  &__content {
    display: table-cell;
    vertical-align: middle;
  }

  &__name {
    font-weight: $fw-semi;
    color: $text;
    letter-spacing: 0.2px;

    @include rem(font-size, 18px);
    @include rem(line-height, 30px);
  }

  &__img {
    vertical-align: top;

    @include rem(width, 62px);
    @include rem(padding-right, 14px);

    img {
      max-width: 100%;
    }
  }

  &__content {
    overflow: hidden;
    border-bottom: 1px solid $border-alt;

    @include rem(height, 48px);
  }
}

.show_more {
  margin-bottom: 0;
  background: $gray-5;

  @include rem(padding, 25px);
}

.current-address-transaction a {
  font-weight: $fw-semi;
}

.nav-tabs > li {
  &:first-child {
    @include rem(margin-left, -20px)
  }

  > a:not(.btn) {
    @include rem(padding, 14px 20px 10px)
  }
}

.ownership_value {
  border-bottom: 3px solid $primary;
  border-radius: $border-radius;
}

.table_coinholders {
  ._address {
    width: 585px;
  }

  ._amount {
    @include rem(padding-right, 60px !important);
  }

  ._value {
    width: 280px;
  }

  ._change {
    display: block;

    @include rem(font-size, 16px);
  }

  @media all and (max-width: $screen-tablet) {
    .ownership_value,
    ._value {
      display: none;
    }
  }

  @media all and (max-width: $screen-landscape) {
    .truncate {
      display: block;

      @include rem(max-width, 200px)
    }
  }
}

.icon--arrow_left_big:before {
  content: "\e93a";
  display: block;
  @include rotate(180deg);
}

.block_nav {
  float: right;
  white-space: nowrap;

  @include rem(margin, -10px -16px);

  .btn {
    @include rem(width, 40px);
    @include rem(margin, 0 5px);
  }

  &__left,
  &__field,
  &__right {
    display: inline-block;
    vertical-align: middle;
  }

  &__field {
    position: relative;

    .control-label {
      position: absolute;
      top: 50%;
      margin-bottom: 0;

      @include rem(left, 20px);
      @include rem(margin-top, -10px);
    }

    .form-control {
      @include rem(width, 150px);
      @include rem(padding-left, 70px);
    }
  }

  @media all and (max-width: 480px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.copy_code {
  .icon {
    margin-right: 5px;

    &--check_thin {
      position: relative;
      top: -2px;
    }

    + span {
      margin-left: 0;
    }
  }
}

._word_break {
  word-break: break-all;
  white-space: normal;
  line-height: normal;
  display: inline-block;
}

._no_break {
  word-break: normal;
  word-wrap: normal;
  white-space: nowrap;
}

.table.table_asstes {
  margin-bottom: 0 !important;

  tr {
    td, th {
      @include rem(font-size, 16px);
      @include rem(padding, 12px 30px 12px 0);
    }
  }

  .check {
    float: left;

    @include rem(width, 20px);
    @include rem(height, 20px);
    @include rem(margin-right, 10px);

    &:before {
      @include rem(line-height, 22px);
    }

    + .ticker_name {
      @include rem(padding-left, 30px);
    }
  }

  .ticker_name {
    display: block;
    white-space: normal;

  }

  .issuer__name {
    font-weight: normal;
    white-space: normal;
    word-break: break-all;
    word-break: break-word;

    @include rem(line-height, 24px);
    @include rem(margin-bottom, 4px);
  }

  .text-muted {
    @include rem(font-size, 16px);
  }

  .issuer__img {
    border-bottom: 0 !important;
    border-radius: 4px;
    overflow: hidden;

    @include rem(padding-right, 15px !important);
    @include rem(width, 63px);

    img {
      border-radius: 4px;
      width: 100%;
      box-shadow: inset 0 0 0 1px rgba($secondary, .1);
    }
  }

  @media all and (max-width: $screen-tablet) {
    .issuer__img {
      width: 0 !important;
      padding: 0 !important;

      img, a {
        display: none;
      }
    }
  }
}

.check--yellow {
  &:before {
    content: '?';
    font-weight: $fw-semi;
    font-family: $ff !important;
    font-size: 18px;
  }
}